<div class="embed-responsive embed-responsive-16by9">

  <script type="text/javascript" src="//www.youtube.com/iframe_api"></script>
  <script type="text/javascript">
	  function onYouTubePlayerAPIReady() {
		  var videoBox = document.getElementById('youtube-radio');

		  videoBox.ytplayer = new YT.Player(videoBox, {
			  events: {
				  'onReady': cuePlaylist
			  },
			  width: '720',
			  height: '480'

		  });
	  }


  </script>

  <div id="youtube-radio">

  </div>

</div>