<div class="row">
  <div class="landing center-block">
	<h1>Music Mosh</h1>

	<h2>Enter your location below and find out which artists are playing nearby</h2>

	<%= form_tag '/shows', method: :get, :id => 'shows-form' do %>
	  <div class="form-group">
		<%= text_field_tag 'city', nil, :placeholder => 'Location', :class => 'form-control' %>
		<%= hidden_field_tag :country %>
		<%= hidden_field_tag :state %>
	  </div>
	<% end %>
	<div class="location-picker">
	  <span id="location-button">Use my location <span id="loading-spinner" class="loading-spinner"></span></span>
	</div>
  </div>
</div>