<div class="row">
  <div class="landing center-block">
	<h1>MusicMosh</h1>

	<h2>Choose a location below and find out which artists are playing nearby</h2>

	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		Available Locations
		<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<% @locations.each do |location| %>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= location[:url] %>"><%= location[:name] %></a></li>
		<% end %>
	  </ul>
	</div>

  </div>
</div>
