// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.

var ready = function() {

    $("#add-show-to-favorites").click( function() {



		var new_favorites_path = "<%= Rails.application.routes.url_helpers.favorites_path %>";

		var show_id = $("#add-show-to-favorites").data("show-id");

		$.ajax({ url: new_favorites_path,
			type: 'POST',
			beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
			data: {
				show_id: show_id
			},
			success: function(data) {
				if(data.success == 1) {
					$("#add-show-to-favorites")
							.removeClass('btn-default')
							.addClass('btn-primary')
							.html('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Favorited')
				}
			},
			error: function(data) {
				console.log(data);
				alert('Please login in order to use the Favorites feature')
			}
		});

    });

};

$(document).ready(ready)
$(document).on('page:load', ready)