// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.


$(document).on('click', '#add-show-to-favorites', function () {

	var err = new Error();
	console.log(err.fileName + ' line:' + err.lineNumber);

	var new_favorites_path = "<%= Rails.application.routes.url_helpers.favorites_path %>";

	var show_id = $("#add-show-to-favorites").data("show-id");

	$.ajax({
		url: new_favorites_path,
		type: 'POST',
		beforeSend: function (xhr) {
			xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
		},
		data: {
			show_id: show_id
		},
		success: function (data) {
			if (data.success == 1) {
				console.log(data);
				$("#add-show-to-favorites")
						.attr("id", "remove-show-from-favorites")
						.data("favorite-id", data.favorite_id)
						.removeClass('btn-default')
						.addClass('btn-primary')
						.html('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Favorited')

			}
		},
		error: function (data) {
			console.log(data);
			alert('Please login in order to use the Favorites feature')
		}
	});

});

$(document).on('click', '#remove-show-from-favorites', function () {

	var favorites_path = "<%= Rails.application.routes.url_helpers.favorites_path %>";

	var favorite_id = $("#remove-show-from-favorites").data("favorite-id");

	$.ajax({
		url: favorites_path + '/' + favorite_id,
		type: 'DELETE',
		beforeSend: function (xhr) {
			xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
		},
		data: {},
		success: function (data) {
			if (data.success == 1) {
				$("#remove-show-from-favorites")
						.attr("id", "add-show-to-favorites")
						.removeClass('btn-primary')
						.addClass('btn-default')
						.html('<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite')
			}
		},
		error: function (data) {
			console.log(data);
			alert('Please login in order to use the Favorites feature')
		}
	});

});

$(document).on('click', '.delete-favorite', function () {

	var favorites_path = "<%= Rails.application.routes.url_helpers.favorites_path %>";

	var favorite_id = $(this).data("favorite-id");

	var row = $(this).closest('tr');

	$.ajax({
		url: favorites_path + '/' + favorite_id,
		type: 'DELETE',
		beforeSend: function (xhr) {
			xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
		},
		data: {},
		success: function (data) {
			if (data.success == 1) {
				var dTable = $('#favorites-table').dataTable().api();
				dTable.row(row).remove().draw();
				row.remove();
			}
		},
		error: function (data) {
			console.log(data);
			alert('Please login in order to use the Favorites feature')
		}
	});

});