$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-text-color: #FFF;

html,
body {
	background: url(image_path('background.jpg')) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: $primary-font;
	font-weight: 200;
	color: $primary-text-color;
  height:100%;
  min-height:100%;
}

.landing {
	width: 600px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	h1 {
	  font-size: 50px;
		font-weight: bold;
		line-height: 50px;
	}

	h2 {
		margin-top: 30px;
		font-weight: 200;
	}

	form {
		margin-top: 70px;
	}

	input {
		background-color: rgba(0, 0, 0, 0) !important;
		text-align: center;
		color: $primary-text-color;
		height: 50px;
		font-size: 30px;
	}

  .dropdown {
    margin-top: 20px;
    text-align: left;

    button {
      background-color: rgba(0, 0, 0, 0) !important;
      color: $primary-text-color !important;
      width: 100%;
      font-size: 26px;
    }

    .dropdown-menu {
      background-color: rgba(0, 0, 0, 0.4) !important;
      width: 100%;
      font-size: 24px;
    }

    li > a {
      color: $primary-text-color !important;
    }

    li > a:hover {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }

  }

  .submit-button {
    padding-top: 4px;
  }

  .submit-button:hover {
    color: #FFF;
  }

	.location-picker {
		color: lightgray;
		text-align: left;
		line-height: 0;

		span {
			cursor: pointer;
		}

		.loading-spinner {
			position: relative;
			margin-left: 14px;
		}
	}
}

.radio {
	margin-top: 60px;

	.youtube-player {
		width: 720px;
		float: left;

		.skip-song {
			display: block;
			margin-top: 4px;
			float: right;
		}

	}

	.right-sidebar {

		.artist-details {
			width: 100%;
			font-size: larger;
			font-weight: bold;
			color: #FFF;
			padding: 20px;
			border: 1px dotted #777;
			border-radius: 6px;
			background-color: rgba(0,0,0,0.4);

      h1 {
        margin: 0 0 20px 0;
      }

      .show-thumbs-down {
        cursor: pointer;
      }
		}

		.skip-artist {
			margin-top: 20px;
		}
	}

}

a {
  color: #fff;
}

a:hover {
  cursor: pointer;
  color: #fff;
}

.btn-dark {
  color: #ffffff;
  background-color: #444;
  border-color: #222;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #333;
  border-color: #111;
}

.nav-tabs > li > a:hover {
  color: #333;
}

@media (max-width: 992px) {

  .radio {
    margin-top: 0;
  }

  .landing {
    width: 90%;

    h2 {
      font-size: 22px;
    }
  }

  .right-sidebar {
    margin-top: 10px;
  }

  .page-title {
    padding: 0 10px 0 10px;
  }
}