<div class="row">
  <div class="not-found">
	<h1>We have no shows for this location yet <i class="fa fa-frown-o"></i></h1>

	<p>You can contribute to our shows library by adding your own scrapers through <a href="https://github.com/danmcc/musicmosh">Github</a></p>
  </div>

</div>