<div class="row">
	<h1>Now listening to artists playing in <%= params[:id] %></h1>

  	<div class="radio">
		<div class="col-md-8">
		  <div class="youtube-player">
			<iframe width="720" height="480" src="//www.youtube.com/embed/UulEF42mlVQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			<button type="button" class="btn btn-default skip-song">Skip Song</button>
		  </div>
		</div>
	  	<div class="col-md-4 right-sidebar">
		  <div class="artist-details">
			<p>Kenny Wayne Shepherd</p>
			<p>Playing at Hard Club</p>
			<p>Tuesday, 3rd February 2015</p>
			<button type="button" class="btn btn-default">Buy Tickets</button>
		  </div>
		  <div class="skip-artist">
			<button type="button" class="btn btn-default">Skip Artist (Next up: Another guy)</button>
		  </div>
		</div>
	</div>


</div>